.container {
  background-color: #e6eaef;
  min-height: 60px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  margin-top: 20px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.2px;
    opacity: 0.4;
  }
}
