.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 530px;

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;

    & > div {
      width: 100%;

      input {
        font-family: var(--font-accent);
        width: 100%;
        background-color: transparent;
        border: none;
        outline: 1px solid #e5e9ee;
        border-radius: 3px;
        padding: 13px 12px;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.15s ease-in-out;

        &:focus {
          outline: 1px solid #c9cdd3;
        }

        &::placeholder {
          font-family: var(--font-accent);
          font-weight: 500;
          color: #c4ccd9;
          letter-spacing: -0.5px;
        }

        &[type='password'] {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          letter-spacing: 1px;
        }

        &[aria-invalid='true'] {
          outline: 1px solid #d40025;
        }
      }
    }
  }

  .button {
    width: 100%;
  }

  .error {
    font-size: 12px;
    font-weight: 600;
    color: #d40025;
    padding-top: 2px;
    margin-bottom: -8px;
  }
}
