.container {
  border: 1px solid #eaedf2;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  gap: 8px;

  .image {
    width: var(--product-image-size);
    height: var(--product-image-size);
    position: relative;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    overflow: hidden;

    h4 {
      font-size: 15px;
      font-weight: 700;
    }

    p {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      color: #97a2b5;
    }

    span {
      font-size: 19px;
      font-weight: 700;
      color: #d1051d;
      letter-spacing: -0.3px;
    }

    h4,
    p,
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      padding: 0 10px;
      text-align: center;
    }
  }

  .button {
    padding: 0 20px;
    width: 100%;

    svg {
      margin-right: 10px;
    }
  }
}
