.container {
  padding-top: 34px;

  & > h1 {
    font-size: 27px;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
