.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  gap: 23px;

  & > h1 {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin: 0;
  }
}
