.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 50px;

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    a {
      margin: 10px;
      padding: 10px 15px;
      border-radius: 3px;
      background-color: #15161d;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.2px;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: #363b60;
      }
    }
  }
}
