.container {
  display: flex;
  align-items: center;
  gap: 12px;

  &[data-direction='column'] {
    flex-direction: column;
    align-items: center;
    gap: 0;

    a > div {
      padding: 5px 0;
    }
  }
}
