.container {
  color: #fff;
  border-bottom: 3px solid #d10125;

  .top_header {
    background-color: #1e1f29;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        white-space: nowrap;
      }

      @media (width <= 780px) {
        justify-content: flex-end;

        .contacts {
          display: none;
        }
      }
    }
  }

  .bottom_header {
    background-color: #15161d;
    min-height: 100px;
    padding: 20px 0;
    display: flex;
    align-items: center;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;

      .logo {
        font-size: 39px;
        font-weight: 700;
        letter-spacing: -0.5px;
        white-space: nowrap;

        span + span {
          color: #d10125;
        }

        @media (width <= 768px) {
          font-size: 24px;
        }
      }

      @media (width <= 580px) {
        img {
          display: none;
        }
      }
    }
  }
}
