.container {
  border-bottom: 2px solid #e5e9ee;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;

  ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 21px;
    margin-bottom: -2px;

    li a {
      display: block;
      padding: 23px 0;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.3px;
      color: #363b60;

      span {
        display: block;
        border-bottom: 2px solid transparent;
        transition: all 0.15s ease-in-out;
      }

      &:hover span {
        border-bottom-color: #363b60;
      }

      &.active span {
        border-bottom-color: #363b60;
      }
    }
  }

  .menu {
    display: none;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width <= 780px) {
    .menu {
      display: flex;
    }

    ul {
      flex-direction: column;
      padding-bottom: 20px;
      display: none;

      &[data-open='true'] {
        display: flex;
      }

      li a {
        padding: 3px 0;
        font-size: 18px;

        span {
          border-bottom: none;
        }

        &.active span {
          font-weight: 800;
        }
      }
    }
  }
}
