:root {
  --background: #fff;
  --foreground: #171717;
  --product-image-size: 350px;
  --products-list-columns: repeat(auto-fill, minmax(350px, 1fr));
  --max-content-width: 1118px;
  --html-content-width: auto;
}

@media (min-width >= 1118px) {
  :root {
    --html-content-width: 100vw;
  }
}

@media (max-width <= 768px) {
  :root {
    --product-image-size: 250px;
    --products-list-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

html {
  width: var(--html-content-width);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > main {
    width: 100%;
    flex: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
