.container {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 4px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  svg {
    width: 15px;
    height: 15px;
    color: #d40025;
  }

  .separator {
    width: 1px;
    height: 15px;
    margin-left: 8px;
    opacity: 0.2;
    background-color: #e6eaef;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: -10px;

    svg {
      color: #fff;
    }
  }
}
